name: Update All Proxies
on:
  schedule:
    - cron: '6 * * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependencies
        run: npm install node-fetch@2
      - name: Run Main Scraper
        run: node index.js
      - name: Run Hy2 Scraper
        run: node hy2.js
      - name: Commit and Push
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Update All Proxies $(date)" || exit 0
          git push
